# Environments
venv/
env/
ENV/
env.bak/
venv.bak/
NGROK_AUTH_TOKEN=3EZASOT59onM51AELCVye8BWPwO_6qWDPNMuBLCH3WUX3oiyq
# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3
*.db
app.db
app_backup.db

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Pytest
.pytest_cache/

#User uploads
app/static/uploads/

delete_user.py